<link href="~/Content/StyleSkills.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Skills";
}

<div class="contentSkills">

    <h2 class="title1">@ViewBag.Title</h2>
    <br />

    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">C# & ASP.NET</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Entity Framework</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">SQL</label>

    <section id="content1">
        <p>
            @ViewBag.Text1
        </p>
        <p>
            @ViewBag.Text5
        </p>
        <p>
            @ViewBag.Text2
        </p>
    </section>

    <section id="content2">
        <p>
            @ViewBag.Text3
            <ul class="ul1 uls">
                <li class="ul1_li lis">DataBase First;</li>
                <li class="ul1_li lis">Model First;</li>
                <li class="ul1_li lis">CodeFirst.</li>
            </ul>
        </p>        
    </section>

    <section id="content3">
        <p>
            @ViewBag.Text4
            <ul class="ul2 uls">
                <li class="ul2_li lis">SELECT;</li>
                <li class="ul2_li lis">UPDATE;</li>
                <li class="ul2_li lis">INSERT;</li>
                <li class="ul2_li lis">DELETE.</li>
            </ul>
        </p>
    </section>
    
</div>