<link href="~/Content/StyleSite.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title1 = "WebSite";
}


<div class="contentSite">

    <h2 class="title1">@ViewBag.Title1</h2>
    <br />

    <p class="text">
        @ViewBag.Text1
    </p>

    <p class="text">
        @ViewBag.Text2
               <ul class="ul1">
                   <li class="ul1_li">@ViewBag.Text21;</li>
                   <li class="ul1_li">@ViewBag.Text22;</li>
                   <li class="ul1_li">@ViewBag.Text23;</li>
                   <li class="ul1_li">@ViewBag.Text24.</li>
               </ul>
    </p>
        
    <p class="text">
        Исходный код проекта можно посмотреть на <a class ="a_github" target="_blank" href="https://github.com/MrAlexandr/ResumeSite">GitHub</a>.
    </p>
</div>